.test-area {
}

button {
  color: #e2231a;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.timer {
  font-family: Orbitron, sans-serif;
  text-align: right;
  background-color: #000000;
  color: #13b127;
}
