.test-area {
  display:flex;
  align-items: center;
  // position: relative;
}

.timer {
  font-family: Orbitron, sans-serif;
  background-color: #000000;
  color: #13b127;
  position: absolute;
  font-size: 3rem;
  border: 2px solid $mars-color;
  padding: 0.5rem 1rem;
  width: 120px;
  box-shadow: 4px 12px 22px 3px rgba(0, 0, 0, 0.5);
  top: 1rem;
  right: 1rem;
  text-align: center;
  transition: all 1s ease-in-out;
  animation: glow 1s linear 1s infinite alternate;
  &.hidden {
    right: -200px;
  }
}

.test-questions {
  width: 500px;
  height: 300px;
  text-align: center;
  background: $mars-gradient;
  font-weight: bold;
  font-size: 2rem;
  border: 3px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  p {
    padding: 2rem;
  }
  button {
    margin: 1rem;
    align-items: center;
  }
  input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
    background: transparent;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.result {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    animation: pulse 2s infinite 4s;
    font-family: sans-serif;
    font-size: 5rem;
    opacity: 0;

  }
}

.failure {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    animation: pulse 2s infinite;
    font-family: sans-serif;
    font-size: 5rem;
    opacity: 0;

  }
}

.icon {
  font-size: 12rem;
  position: absolute;
  transform: rotate(-90deg);
  animation: fly 3s linear;
  bottom: -300px;
  margin-left: 7rem;
}
