.test-area {
  display:flex;
  align-items: center;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 1rem 4rem;
  cursor: pointer;
  box-shadow: 4px 12px 22px 3px rgba(0, 0, 0, 0.5);
}

.timer {
  font-family: Orbitron, sans-serif;
  background-color: #000000;
  color: #13b127;
  position: absolute;
  font-size: 3rem;
  border: 2px solid $mars-color;
  padding: 0.5rem 1rem;
  width: 120px;
  box-shadow: 4px 12px 22px 3px rgba(0, 0, 0, 0.5);
  top: 1rem;
  right: 1rem;
  text-align: center;
  transition: all 1s ease-in-out;
  &.hidden {
    right: -200px;

  }
}
