body {
  font-size: 16px;
  font-family: Open Sans;
  color: #ffffff;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 25px;
  padding: 1rem 4rem;
  cursor: pointer;
  box-shadow: 4px 12px 22px 3px rgba(0, 0, 0, 0.5);
  transition:all .3s ease-out;
  &:hover {
    background-color: $mars-color;
    transform:translate(0px,-6px);
  }
  &:focus {
    outline:none;
  }
}

header {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    width: 10vw;
    margin: 1rem;
  }
}

section {
  width: 100vw;
  background: url("http://mars.nasa.gov/images/mep/send-name-to-mars/NASA-journey-to-Mars-br2-40.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  @include desktop {
    width: 90vw;
  }
}
