.shuttle {
  background: $mars-gradient;
  border-radius: 50%;
  font-size: 4.5rem;
  transform: rotate(270deg);
  padding: 0.5rem;
  height: 90px;

  .fa {
    margin-top: .3rem;
  }
  text-shadow: 0 1px 0 rgb(128,141,147) ,
              -1px 0 0 rgb(205,210,213) ,
              -1px 2px 0 rgb(128,141,147) ,
              -2px 1px 0 rgb(205,210,213) ,
              -2px 3px 0 rgb(128,141,147) ,
              -3px 2px 0 rgb(205,210,213) ,
              -3px 4px 0 rgb(128,141,147) ,
              -4px 3px 0 rgb(205,210,213) ,
              -4px 5px 0 rgb(128,141,147) ;
}

.title {
  text-transform: uppercase;
  font-size: 5rem;
  color: #86817f;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -0.75rem;
  transform: rotate(270deg);
  margin: 5rem 0 3.5rem 0;
}
