.shuttle {
  background: $brand-color;
  border-radius: 50%;
  font-size: 4.5rem;
  transform: rotate(270deg);
  padding: 0.5rem;
  text-shadow: 0 0px 0px rgb(112,111,112), 0 1px 2px rgba(112,111,112,0.2), 0 2px 2px rgba(112,111,112,0.2), 0 3px 2px rgba(112,111,112,0.5), 0 5px 2px rgba(112,111,112,1);
}

.title {
  text-transform: uppercase;
  font-size: 5rem;
  color: #86817f;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -0.75rem;
  transform: rotate(270deg);
  margin: 5rem 0 3.5rem 0;
}
